body {
    background-color: #010101;
    color: #fcfcfc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    background-color: #ba0000;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header img {
    height: 50px;
    margin-right: 10px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.main-image {
    width: 100%;
    height: 40vh;
    background-color: #3d0000; /* Placeholder for the main image */
}

.container {
    padding: 20px;
}

.box {
    background-color: #ba0000;
    color: #fcfcfc;
    margin: 20px 0;
    padding: 20px;
    border: 2px solid #808080;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box h2 {
    margin-top: 0;
}

.box p {
    flex: 1;
}

.image-placeholder {
    background-color: #808080;
    height: 150px; /* Adjust the height as needed */
    margin-top: 20px;
}

footer {
    background-color: #3d0000;
    color: #fcfcfc;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
